<footer>
    <div class="fizquierda">
        <h2>Your Best Host</h2>
        <p>Somos tu mejor opción en hospedas en la ciudad de Vigo. Maecenas quis consequat libero, a feugiat
            eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>
    </div>
    <div class="fizquierda">
        <div class="menus">
            <div class="fderecha">
                <h2>Enlaces rapidos</h2>
                <a href="{{ asset('bundles/app/frontend/pdf/Politicas_privacidad.pdf') }}">Politica de privacidad </a>
                <a href="{{ asset('bundles/app/frontend/pdf/Politica_cookies.pdf') }}">Cookies</a>
                <a href="{{ path('app_contacto') }}">Contactanos</a>
                <a href="https://yourbesthost.lodgify.com/">Reservas</a>
            </div>
            <div class="fderecha">
                <h2>Contáctanos</h2>
                <p>Av. Hispanidad,15, Entreplanta C,</p>
                <p>36202, Vigo, Pontevedra, España</p>
                <p>Teléfono: 62745010</p>
                <p>EMail: info@yourbesthost.com</p>

            </div>
        </div>
    </div>
</footer>