<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Your Best Host</title>
        <meta name="author" content="Matthew Howell" />
        <meta name="description" content="fullPage continuous scrolling demo." />
        <meta name="keywords"  content="fullpage,jquery,demo,scroll,loop,continuous" />
        <meta name="Resource-type" content="Document" />
        {% block stylesheets %}{% include 'partials/_base_head_stylesheets.html.twig' %}{% endblock %}
    </head>
    <body>
        {% block body %} Hola mundo{% endblock %}
        {% block javascripts %}{% include 'partials/_base_head_scripts.html.twig' %}{% endblock %}
    </body>
</html>
